.ally-hidden{
    position:absolute;
    clip:rect(0 0 0 0);
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    white-space: nowrap;
}
.bordered{
    padding: 1rem;
    border: 1px solid currentColor;
}
.bordered-red{
    border-color: #FF1744;
}
.bordered-green{
    border-color: #1DE9B6;
}
.bordered-blue{
    border-color: #0066ff;
}
.rounded{
    border-radius: 10px;
}